@charset "UTF-8";

@media print {
    header, main, footer {
        display: none;
    }

    /* Configurações Gerais */
    #container_impressao {
        display: block;
    }

    #container_impressao > h1, #container_impressao > #container_bo_pre_aluno > div > h1 {
        text-align: center;
        text-decoration: underline;
        font-size: 3em;
        margin-bottom: 50px;
    }

    table.tabela_impressao {
        width: 90%;
    }

    table.tabela_impressao > thead > tr > th {
        text-align: center;
        vertical-align: middle;
        background-color: rgb(189, 184, 184);
    }

    table.tabela_impressao > tbody > tr > td {
        text-align: center;
        vertical-align: middle;
    }

    table.tabela_impressao > tbody > tr > td.td_aluno {
        text-align: start;
        width: 20%;
    }

    .quebra_folha {
        page-break-after: always;
    }

    /* Boletim Sala */
    .boletim_sala > #presenca_sala, .boletim_sala > #container_bo_pre_aluno, .boletim_sala > #imprimir_tab {
        display: none;
    }

    .boletim_sala > table#boletim_sala td.reprovado {
        background-color: rgb(228, 63, 63);
        color: white;
        font-weight: bold;
    }

    .boletim_sala > table#boletim_sala td.exame {
        background-color: rgb(238, 238, 74);
        color: black;
        font-weight: bold;
    }

    .boletim_sala > table#boletim_sala td.abaixo {
        background-color: rgb(255, 203, 203);
    }

    /* Presença Sala */
    .presenca_sala > #boletim_sala, .presenca_sala > #container_bo_pre_aluno, .presenca_sala > #imprimir_tab {
        display: none;
    }


    /* Boletim e Presença Aluno */
    .bo_pre_aluno > #boletim_sala, .bo_pre_aluno > #presenca_sala, .bo_pre_aluno > #imprimir_tab, section.bo_pre_aluno > h1 {
        display: none;
    }

    #container_bo_pre_aluno > .bo_pre_aluno {
        width: 90%;
    }

    #container_bo_pre_aluno > .bo_pre_aluno > .info_pessoais {
        justify-content: space-evenly;
    }

    #container_bo_pre_aluno > .bo_pre_aluno > .info_pessoais > .bo_pre_foto {
        padding: 0;
        border: 2px solid black;
        border-radius: 5px;
        width: 200px;
        height: 200px;
    }

    #container_bo_pre_aluno > .bo_pre_aluno > .info_pessoais > .bo_pre_dados {
        font-size: 1.3em;
    }

    #container_bo_pre_aluno > .bo_pre_aluno > .info_pessoais > .bo_pre_dados > .dado_nome, #container_bo_pre_aluno > .bo_pre_aluno > .info_pessoais > .bo_pre_dados > p > span {
        font-weight: bold;
    }

    #container_bo_pre_aluno > .bo_pre_aluno > .info_escolar > .tab1 {
        max-width: 50%;
    }

    /* Imprimir Tabela */
    .imprimir_tab > #boletim_sala, .imprimir_tab > #presenca_sala, .imprimir_tab > #container_bo_pre_aluno {
        display: none;
    }
}