@charset "UTF-8";

/* Fontes e Cores */
:root {
    --azul: #2C1CF5;
    --verde-claro: #1EDFD8;
    --preto: #000500;
    --branco: #f4f9e9;

    --principal: "Inter";
    --secundaria: "Roboto";
    --terciaria: "Open Sans";
}

/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--principal), var(--secundaria), var(--terciaria), sans-serif;
}

/* Estilos Gerais */
.link-active {
    color: var(--verde-claro);
    text-decoration: underline;
}

.botao {
    padding: 7px 10px;
    border-radius: 5px;
    box-shadow: 2px 3px 4px 0px #2a1cf562;
    background-color: var(--azul);
    color: white;
    font-size: 1.2em;
    transition: 0.3s;
}

.botao:hover {
    cursor: pointer;
    box-shadow: none;
    background-color: var(--verde-claro);
    font-weight: bold;
}

.view-active {
    color: var(--azul);
}


/* Atividade */
.atividade {
    border: 1px solid transparent;
    border-radius: 3px;
    background-color: var(--azul);
    box-shadow: 1px 1px 3px #2a1cf56e;
    height: 450px;
    color: white;
    padding: 20px;
    text-align: end;
}

.atividade span:hover {
    color: var(--verde-claro);
    cursor: pointer;
}

.atividade > div > div > h3 {
    text-align: center;
    font-weight: bold;
    margin-top: -30px;
}

.atividade p:first-of-type {
    text-align: justify;
    text-indent: 15px;
    font-weight: bold;
    height: calc(450px - 140px);
}

.atividade p.botao {
    border: 1px solid transparent;
    background-color: var(--verde-claro);
    box-shadow: 1px 1px 3px 0px #1edfd96c;
    text-align: center;
    font-weight: bold;
    color: black;
    transition: 0.8s;
} 

.atividade p.botao:hover {
    box-shadow: none;
    background-color: transparent;
    color: white;
    text-decoration: underline;
    border: 3px solid var(--verde-claro);
}


/* Grid View */
.grid-view {
    display: grid;
    grid-template-columns: 25% 25% 25%;
    justify-content: center;
    gap: 40px 30px;
}

div.grid-view > div.atividade > div > div > span {
    display: none;
}

div.grid-view > div.atividade > hr {
    display: none;
}

/* Line View - Closed */
.line-view .atividade {
    height: 60px;
    padding: 5px;
    margin-bottom: 20px;
}

.line-view .atividade:hover {
    cursor: pointer;
}

.line-view .atividade div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto 7px;
}

.line-view .atividade h3 {
    margin: 0;
    font-size: 2em;
}

.line-view .atividade > div > span {
    font-size: 1.7em;
    order: 2;
}

.line-view .atividade > div > div span {
    font-size: 3em;
    margin-right: 10px;
}

.line-view .atividade > div > div span:hover {
    cursor: default;
    color: white;
}

.closed p, .closed hr {
    display: none;
}

/* Line View - Opened */
.line-view > .opened {
    height: 250px;
}

.opened > p, .opened > hr {
    display: block;
}

.line-view > div.opened > hr {
    opacity: 1;
    width: 88%;
    border: 1px solid white;
    margin: 5px auto 20px auto;
}

.line-view > div.opened > p:first-of-type {
    height: 70px;
    width: 88%;
    margin: 0 auto 30px auto;
}

.line-view > div.opened > p.botao {
    width: 15%;
    margin: 0 auto auto;
}



/* Header */
header {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-bottom: 100px;
    background-color: var(--azul);
    color: white;
}

.div_logo {
    display: flex;
    justify-content: center;
    align-items: center;
}

.div_logo > span {
    font-size: 7em;
    margin-right: 10px;
}

menu li:first-child {
    margin-right: 50px;
}

menu a {
    font-size: 2.5em;
    color: white;
    text-decoration: none;
}

menu a:hover, menu button:hover {
    color: var(--verde-claro);
    cursor: pointer;
    border: none;
}

menu button {
    font-size: 2em;
    color: white;
    padding: 0;
    background-color: transparent;
    border: none;
}


/* Main - Classe */
.back {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    height: 300px;
    border: 1px solid black;
    border-radius: 10px;
    background-image: url(../imgs/backs/back-math-medio.jpg);
    background-position: center center;
}

.back > h2 {
    display: inline;
    padding: 5px 15px;
    border-radius: 10px;
    /* background-color: black; */
    font-weight: bold;
    color: white;
}

.back > span {
    font-size: 2.3em;
    padding: 5px;
    color: white;
}

.back > span:hover {
    cursor: pointer;
    color: var(--verde-claro);
}


.tabela {
    width: 65%;
    margin-top: 70px;
    margin-bottom: 50px;
    text-align: center;
}

.tabela > thead > tr > th {
    background-color: rgb(189, 184, 184);
}

.tabela td, .tabela th {
    border: 1px solid black;
}

.tabela th {
    font-size: 1.4em;
}

.tabela td {
    font-size: 1.2em;
}

.nome {
    text-align: start;
    text-indent: 7px;
}

.tabela span {
    color: black;
    padding: 0px 7px;
}

.tabela span:hover {
    cursor: pointer;
    color: var(--verde-claro);
    font-weight: bold;
}

.botoes {
    display: grid;
    grid-template-columns: 200px 200px 200px;
    justify-content: center;
    gap: 20px;
    width: 65%;
    margin-bottom: 40px;
}

.botoes p {
    margin: 0;
    text-align: center;
    align-self: center;
}



footer {
    background-color: var(--azul);
    padding: 40px;
    margin-top: 100px;
    text-align: center;
}

footer p {
    margin: 0;
    color: white;
    font-size: 1.3em;
}

footer a {
    color: white;
    text-decoration: none;
}

footer a:hover {
    color: var(--verde-claro);
    text-decoration: underline;
    font-weight: bold;
    cursor: pointer;
}


/* Main - Atividades */
/* Topo */
section#atividades section#atividades_topo {
    margin-bottom: 140px;
}

.topo h1 {
    text-align: center;
    font-weight: bold;
    font-size: 3em;
}

.topo h2 {
    text-align: center;
    font-weight: bold;
    font-size: 2.5em;
}

.topo div.container-span {
    text-align: end;
}

.topo div.container-span span {
    font-size: 2em;
}

.topo div.container-span span:hover {
    cursor: pointer;
    color: #1edfd98c;
}

.topo hr {
    margin-top: 0;
    margin-bottom: 30px;
    opacity: 1;
}

section#atividades section#atividades_topo div.topo_botoes {
    text-align: center;
}

section#atividades section#atividades_topo div.topo_botoes p {
    display: inline;
    padding: 8px 20px;
    font-size: 1.5em;
}

section#atividades section#atividades_topo div.topo_botoes p:first-of-type {
    margin-right: 20px;
}

/* Container Sessões */
section#atividades div.container-sessões section {
    width: 60%;
    margin-bottom: 130px;
}

section#atividades div.container-sessões section div.topo h2 {
    margin-bottom: -15px;
}

section#atividades div.container-sessões section div.topo div.container-span span {
    font-size: 2em;
}

section#atividades div.container-sessões section div.topo hr {
    margin-bottom: 20px;
}