@charset "UTF-8";

/* Fontes e Cores */
:root {
    --azul: #2C1CF5;
    --verde-claro: #1EDFD8;
    --preto: #000500;
    --branco: #f4f9e9;

    --principal: "Inter";
    --secundaria: "Roboto";
    --terciaria: "Open Sans";
}

/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--principal), var(--secundaria), var(--terciaria), sans-serif;
}

/* Estilos Gerais */
.link-active {
    color: var(--verde-claro);
    text-decoration: underline;
}


/* Header */
header {
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: var(--azul);
    color: white;
}

.div_logo {
    display: flex;
    justify-content: center;
    align-items: center;
}

.div_logo > span {
    font-size: 7em;
    margin-right: 10px;
}

menu li:first-child {
    margin-right: 50px;
}

menu a {
    font-size: 2.5em;
    color: white;
    text-decoration: none;
}

menu a:hover {
    color: var(--verde-claro);
    cursor: pointer;
}


