@charset "UTF-8";

/* CELL TELA DEITADA */
@media screen and (orientation = landscape) {
    header > h1 {
        font-size: 2.7em;
    }
    
    main > section > h2 {
        font-size: 2.2em;
    }

    main > section > h3 {
        font-size: 1.6em;
    }

    main > section > input, div.adicionar > input {
        font-size: .9em;
    }
    
    /* SECTION TURMA */
    table.tabela-alunos {
        margin: auto;
    }

    section#turma > input, div.adicionar {
        margin-left: 40px;
    }

    /* SECTION AULAS */
    section#aulas > div.aulas > div.aula {
        margin-bottom: 60px;
    }

    section#aulas > div.aulas > div.aula > h3 {
        font-size: 1.3em;
    }

    section#aulas > div.aulas > div.aula > p {
        font-size: 1.1em;
        width: 95%;
        margin: auto;
    }

    section#aulas > input {
        margin-left: 33px;
    }

    /* FOOTER */
    footer > p {
        font-size: 1.3em;
    }

    footer > div.sociais > a {
        color: rgb(102, 102, 102);
    }

    footer > div.sociais > a > img {
        width: 27%;
    }
}

/* TABLET */
@media screen and (min-width: 768px) {
    main > section#turma > div.div-tabela-alunos > table.tabela-alunos {
        width: 90%;
    }
}

/* NOTEBOOK E PC */
@media screen and (min-width: 1200px) {
    /* HEADER */
    header > h1 {
        font-size: 3em;
    }

    header > nav {
        font-size: 1.3em;
    }
    
    /* MAIN */
    main > section#turma > input, main > section#aulas > input {
        width: 20%;
        font-size: 1em;
        display: block;
        margin: 33px auto 10px auto;
        
    }

    main > section > div.adicionar {
        max-width: 70%;
        margin: auto;
        font-size: 1.3em;
    }

    main > section {
        font-size: 1.2em;
        margin-top: 70px;
    }

    /* SECTION ALUNOS */
    main > section#turma > div.div-tabela-alunos > table.tabela-alunos {
        max-width: 70%;
    }

    /* SECTION AULAS */
    main > section#aulas > div.aulas {
        margin-top: 40px;
    }

    main > section#aulas > div.aulas > div.aula > h3 {
        font-size: 1.5em;
    }

    main > section#aulas > div.aulas > div.aula > p {
        max-width: 80%;
        font-size: 1.3em;
    }

    main > section#aulas > div.aulas > div.aula > iframe {
        max-width: 60%;
        height: 442px;
    }

    /* FOOTER */
    footer {
        padding: 30px;
    }

    footer > p {
        font-size: 1.7em;
    }

    footer > div.sociais {
        width: 15%;
    }
}

/* TELAS GRANDER */
@media screen and (min-width: 1200px) {
    main > section > div.adicionar {
        max-width: 60%;
    }
}